@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
}

body{
    min-height: 120vh;
    background: url(../Imagens/Paisagem1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navegation{
    position: fixed;
    top: 10px;
    bottom: 20px;
    width: 50px;
    box-sizing: initial;
    border-radius: 10px;
    border-left: 5px solid #01b2ea;
    background-color: #01b2ea;
    transition: width 0.5s;
    overflow-x: hidden;
}

.navegation.active{
    width: 150px;
}

.navegation ul{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}


.navegation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navegation ul li b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background-color:#fff;
    display: none;
}

.navegation ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background-color: #01b2ea;
}
.navegation ul li b:nth-child(2){
    position: absolute;
    bottom:-20px;
    height: 20px;
    width: 100%;
    background-color:#fff;
    display: none;
}

.navegation ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background-color: #01b2ea;
}

.navegation ul li.active b:nth-child(1),
.navegation ul li.active b:nth-child(2){
    display: block;
}

.navegation ul li.active{
    background-color: #fff;
}


.navegation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #000000;
}

.navegation ul li.active a{
    color: #333;
}


.navegation ul li a .icon{
    position: relative;
    display: flex;
    min-width: 40px;
    height: 55px;
    padding-left: 10px;
    line-height: 70px;
    align-items: center;
}

.navegation ul li a .icon ion-icon{
    font-size: 1.5em;
}

.navegation ul li a .text{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 50px;
    line-height: 60px;
    font-size: 25px;
    white-space: normal;
}

.toggle{
    position: fixed;
    top: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #01b2ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle ion-icon{
    position: absolute;
    color: #fff;
    font-size: 34px;
    display: none;
}
.toggle ion-icon.open,
.toggle.active ion-icon.close
{
    display: block;
}
.toggle ion-icon.close,
.toggle.active ion-icon.open
{
    display: none;
}

.toggle.active{
    background-color: #11a5f8;
}



h1,h2,p{
    display: flex;
    align-items: center;
    justify-content: center;
}


 
#Projeto1{
    margin-left: 200px;
}

#Projeto2{
    margin-left: 50px;
}

#Projeto3{
    margin-left: 50px;
}

/* 
#Projeto3,#Projeto2,#Projeto1{
    margin-left: 40px;
} */